<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="planIt home page">
    <meta name="keywords" content="home planner, plan, calendar">
    <title>PlanIt | Home</title>
    <link rel="stylesheet" type="text/css" href="dashStyleSheet.css">
    <link rel="stylesheet" href="font-awesome.css"/>
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Titillium+Web"/>
</head>
<!----- HEADER -------->
<body>
<div class="header">
    <a href="/dash" class="logo"><img src="logony.png" alt="plan it logo"></a>
    <div class="signout">
        <a href="/">Sign out</a>
    </div>
    <div class="hero-text">
        <h2 th:text="Hello + ' ' + ${session.logger}"></h2>  <!-------USERNAME GOES HERE ---->
        <h1>GET YOUR LIFE TOGETHER</h1>
    </div>
</div>
<!----- MAIN ---->
<main class="container">
    <div class="sidenav">
        <a class="link1" href="#">
            <section class="first">
                <img class="image" src="calendar2.png">
                <h3>MY CALENDAR</h3></a>
        </section>
        <a class="link2" href="/budget">
            <section class="second">
                <img class="image" src="budget.png">
                <h3>MY BUDGET</h3>
            </section></a>
        <a class="link3" href="/list">
            <section class="third">
                <img class="image" src="list.png">
                <h3>MY LISTS</h3>
            </section></a>
    </div>
    <!----LIST-->
    <div class="list">
        <div class="header3">
            <div class="clear">
                <i class="fa fa-refresh"></i>
            </div>
            <div id="date"></div>
        </div>
        <div class="content">
            <ul id="list">
            </ul>
        </div>
        <div class="add-to-do">
            <i class="fa fa-plus-circle"></i>
            <input type="text" id="input" placeholder="Add a To Do"/>
        </div>
    </div>
    <!----Calendar-->
    <section class="calendar">
        <div class="month">
            <ul>
                <li class="prev">&#10094;</li>
                <li class="next">&#10095;</li>
                <li>Februar<br><span style="font-size:18px">2020</span></li>
            </ul>
        </div>
        <ul class="weekdays">
            <li>Mo</li>
            <li>Tu</li>
            <li>We</li>
            <li>Th</li>
            <li>Fr</li>
            <li>Sa</li>
            <li>Su</li>
        </ul>
        <ul class="days">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>
                <div class="active">14</div>
            </li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
        </ul>
        <div class="budgetOverview">
            <h1><img src="/BudgetLogo.png" alt=""></h1>
            <label th:if="${budget != null}" th:object="${budget}">
                <br>
                <progress id="total" th:value="*{income-food-rent-savings}" th:max="*{income} "></progress>
                <div th:text="'Balance: ' + *{income-food-rent-savings} + ' kr'"></div>
            </label>
        </div>
    </section>
</main>
<!-- Footer -->
<footer>
    <div class="footer">
        <h3>Plan It 2020. All rights reserved.</h3>
    </div>
</footer>
<script src="app.js"></script>
</body>
</html>