<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Plan It | To Do</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<header>
			<h1>Plan It | Login </h1>
		</header>

		<section class="container">


			<form id="my-form" action="/login" method="POST" th:object="${user}">
				<h2>Login</h2>
				<div class="msg"></div>
				<div>
					<label for="username">Login Name:</label>
					<input type="text" id="username" th:field="*{username}" />
					<h6 th:if="${#fields.hasErrors('username')}">Incorrect username</h6>
					<h6 th:if="${#fields.hasErrors('username')}">Please sign up!</h6>
				</div>
				<div>
					<label for="password">Password:</label>
					<input type="password" id="password" th:field="*{password}" />
					<h6 th:if="${#fields.hasErrors('password')}">Incorrect password</h6>
					<h6 th:text="${invalidUser}"></h6>

				</div>
				<input class="btn" type="submit" value="Submit" />
				<h4>OR</h4>
				<div>
				<a href="/register"><h4>Signup</h4></a>
				</div>
			</form>
			<ul id="users"></ul>
			<!-- <ul class="items">
        <li class="item">Item 1</li>
        <li class="item">Item 2</li>
        <li class="item">Item 3</li>
      </ul> -->
		</section>
<!--		<script src="main.js"></script>-->
	</body>
</html>
